.aaa {
  border: none;
  
  font-size: small;
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
  margin-right: 10%;
}
.abc {
  margin-top: 50px;
  width: 30%;
}

.image-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  background-color: #f0f0f0;
}

.image-container img {
  height: 150px;
  margin-right: 0px;
  height: 30vw;
}

.image-container img:last-child {
  margin-right: 0;
}

.image-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image-container::-webkit-scrollbar {
  display: none;
}
.foter{
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    
}
